.container-states {
  width: 85%;
  margin: 4px auto;
  display: block;

  div {
    height: 19px;
    width: 19px;
    margin: 2px;
    border-radius: 1px;
  }

  .column {
    float: left;
  }


  // STATES

  @mixin state {
    background-size: 19px;
    &:hover {
      -webkit-transform: scale(10);
      transform: scale(10);
    }
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
  }

  @mixin state2($state, $colour) {
    background: $colour;
    &:hover {
      background: url("gifs/#{$state}.gif");
      background-size: 19px;
      -webkit-transform: scale(10);
      transform: scale(10);
    }
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
  }

  // Mixins

  @mixin alabama {
    @include state2("al", #FF0000);
  }

  @mixin arizona {
    @include state2("az", #16256B);
  }

  @mixin arkansas {
    @include state2("ak", #C21B2B);
  }

  @mixin california {
    @include state2("ca", #FFD700);
  }

  @mixin colorado {
    @include state2("co", #EEE);
  }

  @mixin connecticut {
    @include state2("ct", #082985)
  }

  @mixin delaware {
    @include state2("de", #007BA7);
  }

  @mixin florida {
    @include state2("fl", #FF8000);
  }

  @mixin georgia {
    @include state2("ga", #B71922);
  }

  @mixin idaho {
    @include state2("id", #008100);
  }

  @mixin illinois {
    @include state2("il", #795A3A);
  }

  @mixin indiana {
    @include state2("in", #FFD900);
  }

  @mixin iowa {
    @include state2("ia", #FBEC5D);
  }

  @mixin kansas {
    @include state2("ks", #FFB400);
  }

  @mixin kentucky {
    @include state2("ky", #366D49);
  }

  @mixin louisiana {
    @include state2("la", #FFD900);
  }

  @mixin maine {
    @include state2("me", #3D703B);
  }

  @mixin maryland {
    @include state2("md", #000);
  }

  @mixin massachusetts {
    @include state2("ma", #C61C36);
  }

  @mixin michigan {
    @include state2("mi", #B4752E);
  }

  @mixin minnesota {
    @include state2("mn", #3A65CC);
  }

  @mixin mississippi {
    @include state2("ms", #00266A);
  }

  @mixin missouri {
    @include state2("mo", #00256A);
  }

  @mixin montana {
    @include state2("mt", #FFDB00);
  }

  @mixin nebraska {
    @include state2("ne", #777);
  }

  @mixin nevada {
    @include state2("nv", #C0C0C0);
  }

  @mixin new-hampshire {
    @include state2("nh", #002688);
  }

  @mixin new-jersey {
    @include state2("nj", #F1DE7C);
  }

  @mixin new-mexico {
    @include state2("nm", #FFFB00);
  }

  @mixin new-york {
    @include state2("ny", #0433FF);
  }

  @mixin north-carolina {
    @include state2("nc", #FF2600);
  }

  @mixin north-dakota {
    @include state2("nd", #E1D300);
  }

  @mixin ohio {
    @include state2("oh", #0433FF);
  }

  @mixin oklahoma {
    @include state2("ok", #008100);
  }

  @mixin oregon {
    @include state2("or", #011582);
  }

  @mixin pennsylvania {
    @include state2("pa", #3B396F);
  }

  @mixin rhode-island {
    @include state2("ri", #FFC600);
  }

  @mixin south-carolina {
    @include state2("sc", #00406B);
  }

  @mixin south-dakota {
    @include state2("sd", #0073AA);
  }

  @mixin tennessee {
    @include state2("tn", #FF8000);
  }

  @mixin texas {
    @include state2("tx", #FF2600);
  }

  @mixin utah {
    @include state2("ut", #000000);
  }

  @mixin vermont {
    @include state2("vt", #6F7000);
  }

  @mixin virginia {
    @include state2("va", #A133AA);
  }

  @mixin washington {
    @include state2("wa", #008556);
  }

  @mixin west-virginia {
    @include state2("wv", #D0B62C);
  }

  @mixin wisconsin {
    @include state2("wi", #F62F46);
  }

  @mixin wyoming {
    @include state2("wy", #00266A);
  }


  // Alabama

  .c31 {
    .r19, .r20, .r21, .r22 {
      @include alabama;
    }
  }

  .c32 {
    .r19, .r20, .r21 {
      @include alabama;
    }
  }

  .c33 {
    .r19, .r20, .r21 {
      @include alabama;
    }
  }

  // Alaska
  // Arizona

  .c8 {
    .r18, .r19, .r20, .r21, .r22, .r23 {
      @include arizona;
    }
  }

  .c9 {
    .r18, .r19, .r20, .r21, .r22, .r23, .r24 {
      @include arizona;
    }
  }

  .c10 {
    .r18, .r19, .r20, .r21, .r22, .r23, .r24 {
      @include arizona;
    }
  }

  .c11 {
    .r18, .r19, .r20, .r21, .r22, .r23, .r24 {
      @include arizona;
    }
  }

  // Arkansas

  .c25 {
    .r18, .r19, .r20 {
      @include arkansas;
    }
  }

  .c26 {
    .r18, .r19, .r20 {
      @include arkansas;
    }
  }

  .c27 {
    .r18, .r19, .r20 {
      @include arkansas;
    }
  }

  .c28 {
    .r18 {
      @include arkansas;
    }
  }

  // California

  .c1 {
    .r12, .r13, .r14, .r15, .r16, .r17, .r18, .r19 {
      @include california;
    }
  }

  .c2 {
    .r12, .r13, .r14, .r15, .r16, .r17, .r18, .r19, .r20 {
      @include california;
    }
  }

  .c3 {
    .r12, .r13, .r14, .r15, .r16, .r17, .r18, .r19, .r20, .r21 {
      @include california;
    }
  }

  .c4 {
    .r18, .r19, .r20, .r21, .r22 {
      @include california;
    }
  }

  .c5 {
    .r19, .r20, .r21, .r22, .r23 {
      @include california;
    }
  }

  .c6 {
    .r20, .r21, .r22, .r23 {
      @include california;
    }
  }

  .c7 {
    .r21, .r22, .r23 {
      @include california;
    }
  }

  // Colorado

  .c12 {
    .r13, .r14, .r15, .r16, .r17 {
      @include colorado;
    }
  }

  .c13 {
    .r13, .r14, .r15, .r16, .r17 {
      @include colorado;
    }
  }

  .c14 {
    .r13, .r14, .r15, .r16, .r17 {
      @include colorado;
    }
  }

  .c15 {
    .r13, .r14, .r15, .r16, .r17 {
      @include colorado;
    }
  }

  .c16 {
    .r13, .r14, .r15, .r16, .r17 {
      @include colorado;
    }
  }

  .c17 {
    .r13, .r14, .r15, .r16, .r17 {
      @include colorado;
    }
  }

  // Connecticut

  .c41 {
    .r9 {
      @include connecticut;
    }
  }

  // Delaware

  .c38 {
    .r11 {
      @include delaware;
    }
  }

  // Florida

  .c32 {
    .r22 {
      @include florida;
    }
  }

  .c33 {
    .r22 {
      @include florida;
    }
  }

  .c34 {
    .r22 {
      @include florida;
    }
  }

  .c35 {
    .r22 {
      @include florida;
    }
  }

  .c36 {
    .r22 {
      @include florida;
    }
  }

  .c37 {
    .r22, .r23 {
      @include florida;
    }
  }

  .c38 {
    .r22, .r23, .r24, .r25, .r26, .r27, .r28 {
      @include florida;
    }
  }

  .c39 {
    .r23, .r24, .r25, .r26, .r27, .r28 {
      @include florida;
    }
  }

  // Georgia

  .c34 {
    .r19, .r20, .r21 {
      @include georgia;
    }
  }

  .c35 {
    .r19, .r20, .r21 {
      @include georgia;
    }
  }

  .c36 {
    .r19, .r20, .r21 {
      @include georgia;
    }
  }

  .c37 {
    .r20, .r21 {
      @include georgia;
    }
  }

  .c38 {
    .r21 {
      @include georgia;
    }
  }

  // Hawaii
  // Idaho

  .c6 {
    .r4, .r5, .r6, .r7, .r8, .r9, .r10, .r11 {
      @include idaho;
    }
  }

  .c7 {
    .r6, .r7, .r8, .r9, .r10, .r11 {
      @include idaho;
    }
  }

  .c8 {
    .r8, .r9, .r10, .r11 {
      @include idaho;
    }
  }

  .c9 {
    .r9, .r10, .r11 {
      @include idaho;
    }
  }
  // Illinois

  .c25 {
    .r10, .r11 {
      @include illinois;
    }
  }

  .c26 {
    .r9, .r10, .r11, .r12, .r13, .r14 {
      @include illinois;
    }
  }

  .c27 {
    .r9, .r10, .r11, .r12, .r13, .r14 {
      @include illinois;
    }
  }

  // Indiana

  .c28 {
    .r10, .r11, .r12, .r13, .r14 {
      @include indiana;
    }
  }

  .c29 {
    .r10, .r11, .r12, .r13, .r14 {
      @include indiana;
    }
  }

  // Iowa

  .c22 {
    .r9, .r10 {
      @include iowa;
    }
  }

  .c23 {
    .r9, .r10, .r11, .r12 {
      @include iowa;
    }
  }

  .c24 {
    .r9, .r10, .r11, .r12 {
      @include iowa;
    }
  }

  .c25 {
    .r9, .r12 {
      @include iowa;
    }
  }

  // Kansas

  .c18 {
    .r14, .r15, .r16, .r17 {
      @include kansas;
    }
  }

  .c19 {
    .r14, .r15, .r16, .r17 {
      @include kansas;
    }
  }

  .c20 {
    .r14, .r15, .r16, .r17 {
      @include kansas;
    }
  }

  .c21 {
    .r14, .r15, .r16, .r17 {
      @include kansas;
    }
  }

  .c22 {
    .r14, .r15, .r16, .r17 {
      @include kansas;
    }
  }

  .c23 {
    .r14, .r15, .r16, .r17 {
      @include kansas;
    }
  }


  // Kentucky

  .c28 {
    .r15 {
      @include kentucky;
    }
  }

  .c29 {
    .r15, .r16 {
      @include kentucky;
    }
  }

  .c30 {
    .r14, .r15, .r16 {
      @include kentucky;
    }
  }

  .c31 {
    .r14, .r15, .r16 {
      @include kentucky;
    }
  }

  .c32 {
    .r14, .r15, .r16 {
      @include kentucky;
    }
  }

  .c33 {
    .r14, .r15, .r16 {
      @include kentucky;
    }
  }

  // Louisiana

  .c26 {
    .r21, .r22, .r23 {
      @include louisiana;
    }
  }

  .c27 {
    .r21, .r22, .r23 {
      @include louisiana;
    }
  }

  .c28 {
    .r22, .r23 {
      @include louisiana;
    }
  }

  .c29 {
    .r22, .r23 {
      @include louisiana;
    }
  }

  // Maine

  .c42 {
    .r1, .r2, .r3, .r4 {
      @include maine;
    }
  }

  .c43 {
    .r1, .r2, .r3 {
      @include maine;
    }
  }

  .c44 {
    .r1, .r2, .r3 {
      @include maine;
    }
  }

  // Maryland

  .c36 {
    .r12 {
      @include maryland;
    }
  }

  .c37 {
    .r12 {
      @include maryland;
    }
  }

  .c38 {
    .r12 {
      @include maryland;
    }
  }

  // Massachusetts

  .c40 {
    .r6, .r7 {
      @include massachusetts;
    }
  }

  .c41 {
    .r6, .r7 {
      @include massachusetts;
    }
  }

  // Michigan

  .c26 {
    .r4 {
      @include michigan;
    }
  }

  .c27 {
    .r4 {
      @include michigan;
    }
  }

  .c28 {
    .r4 {
      @include michigan;
    }
  }

  .c29 {
    .r5, .r6, .r7, .r8, .r9 {
      @include michigan;
    }
  }

  .c30 {
    .r5, .r6, .r7, .r8, .r9 {
      @include michigan;
    }
  }

  .c31 {
    .r6, .r7, .r8, .r9 {
      @include michigan;
    }
  }

  // Minnesota

  .c22 {
    .r4, .r5, .r6, .r7, .r8 {
      @include minnesota;
    }
  }

  .c23 {
    .r4, .r5, .r6, .r7, .r8 {
      @include minnesota;
    }
  }

  .c24 {
    .r4, .r5, .r6, .r7, .r8 {
      @include minnesota;
    }
  }

  // Mississippi

  .c28 {
    .r19, .r20, .r21 {
      @include mississippi;
    }
  }

  .c29 {
    .r19, .r20, .r21 {
      @include mississippi;
    }
  }

  .c30 {
    .r19, .r20, .r21, .r22 {
      @include mississippi;
    }
  }

  // Missouri

  .c23 {
    .r13 {
      @include missouri;
    }
  }

  .c24 {
    .r13, .r14, .r15, .r16, .r17 {
      @include missouri;
    }
  }

  .c25 {
    .r13, .r14, .r15, .r16, .r17 {
      @include missouri;
    }
  }

  .c26 {
    .r14, .r15, .r16, .r17 {
      @include missouri;
    }
  }

  .c27 {
    .r15, .r16, .r17 {
      @include missouri;
    }
  }

  .c28 {
    .r16, .r17 {
      @include missouri;
    }
  }

  // Montana

  .c7 {
    .r4, .r5 {
      @include montana;
    }
  }

  .c8 {
    .r4, .r5, .r6, .r7 {
      @include montana;
    }
  }

  .c9 {
    .r4, .r5, .r6, .r7, .r8 {
      @include montana;
    }
  }

  .c10 {
    .r4, .r5, .r6, .r7, .r8 {
      @include montana;
    }
  }

  .c11 {
    .r4, .r5, .r6, .r7, .r8 {
      @include montana;
    }
  }

  .c12 {
    .r4, .r5, .r6, .r7, .r8 {
      @include montana;
    }
  }

  .c13 {
    .r4, .r5, .r6, .r7, .r8 {
      @include montana;
    }
  }

  .c14 {
    .r4, .r5, .r6, .r7, .r8 {
      @include montana;
    }
  }

  .c15 {
    .r4, .r5, .r6, .r7, .r8 {
      @include montana;
    }
  }

  // Nebraska

  .c16 {
    .r11, .r12 {
      @include nebraska;
    }
  }

  .c17 {
    .r11, .r12 {
      @include nebraska;
    }
  }

  .c18 {
    .r11, .r12, .r13 {
      @include nebraska;
    }
  }

  .c19 {
    .r11, .r12, .r13 {
      @include nebraska;
    }
  }

  .c20 {
    .r11, .r12, .r13 {
      @include nebraska;
    }
  }

  .c21 {
    .r11, .r12, .r13 {
      @include nebraska;
    }
  }

  .c22 {
    .r11, .r12, .r13 {
      @include nebraska;
    }
  }


  // Nevada

  .c4 {
    .r12, .r13, .r14, .r15, .r16, .r17 {
      @include nevada;
    }
  }

  .c5 {
    .r12, .r13, .r14, .r15, .r16, .r17, .r18 {
      @include nevada;
    }
  }

  .c6 {
    .r12, .r13, .r14, .r15, .r16, .r17, .r18, .r19 {
      @include nevada;
    }
  }

  .c7 {
    .r12, .r13, .r14, .r15, .r16, .r17, .r18, .r19, .r20 {
      @include nevada;
    }
  }

  // New Hampshire

  .c41 {
    .r2, .r3, .r4, .r5 {
      @include new-hampshire;
    }
  }

  // New Jersey

  .c39 {
    .r9, .r10 {
      @include new-jersey;
    }
  }

  .c40 {
    .r10 {
      @include new-jersey;
    }
  }

  // New Mexico

  .c12 {
    .r18, .r19, .r20, .r21, .r22, .r23, .r24 {
      @include new-mexico;
    }
  }

  .c13 {
    .r18, .r19, .r20, .r21, .r22, .r23, .r24 {
      @include new-mexico;
    }
  }

  .c14 {
    .r18, .r19, .r20, .r21, .r22, .r23, .r24 {
      @include new-mexico;
    }
  }

  .c15 {
    .r18, .r19, .r20, .r21, .r22, .r23, .r24 {
      @include new-mexico;
    }
  }

  .c16 {
    .r18, .r19, .r20, .r21, .r22, .r23, .r24 {
      @include new-mexico;
    }
  }

  // New York

  .c34 {
    .r6, .r7 {
      @include new-york;
    }
  }

  .c35 {
    .r4, .r5, .r6, .r7 {
      @include new-york;
    }
  }

  .c36 {
    .r4, .r5, .r6, .r7 {
      @include new-york;
    }
  }

  .c37 {
    .r3, .r4, .r5, .r6, .r7 {
      @include new-york;
    }
  }

  .c38 {
    .r2, .r3, .r4, .r5, .r6, .r7 {
      @include new-york;
    }
  }

  .c39 {
    .r2, .r3, .r4, .r5, .r6, .r7, .r8 {
      @include new-york;
    }
  }

  .c40 {
    .r9, .r8 {
      @include new-york;
    }
  }

  // North Carolina

  .c34 {
    .r18 {
      @include north-carolina;
    }
  }

  .c35 {
    .r17, .r18 {
      @include north-carolina;
    }
  }

  .c36 {
    .r17, .r18 {
      @include north-carolina;
    }
  }

  .c37 {
    .r17, .r18 {
      @include north-carolina;
    }
  }

  .c38 {
    .r17, .r18 {
      @include north-carolina;
    }
  }

  .c39 {
    .r17, .r18 {
      @include north-carolina;
    }
  }

  // North Dakota

  .c16 {
    .r4, .r5, .r6 {
      @include north-dakota;
    }
  }

  .c17 {
    .r4, .r5, .r6 {
      @include north-dakota;
    }
  }

  .c18 {
    .r4, .r5, .r6 {
      @include north-dakota;
    }
  }

  .c19 {
    .r4, .r5, .r6 {
      @include north-dakota;
    }
  }

  .c20 {
    .r4, .r5, .r6 {
      @include north-dakota;
    }
  }

  .c21 {
    .r4, .r5, .r6 {
      @include north-dakota;
    }
  }

  // Ohio

  .c30 {
    .r10, .r11, .r12, .r13 {
      @include ohio;
    }
  }

  .c31 {
    .r10, .r11, .r12, .r13 {
      @include ohio;
    }
  }

  .c32 {
    .r10, .r11, .r12, .r13 {
      @include ohio;
    }
  }

  .c33 {
    .r9, .r10, .r11, .r12 {
      @include ohio;
    }
  }

  // Oklahoma

  .c17 {
    .r18 {
      @include oklahoma;
    }
  }

  .c18 {
    .r18 {
      @include oklahoma;
    }
  }

  .c19 {
    .r18 {
      @include oklahoma;
    }
  }

  .c20 {
    .r18, .r19, .r20 {
      @include oklahoma;
    }
  }

  .c21 {
    .r18, .r19, .r20 {
      @include oklahoma;
    }
  }

  .c22 {
    .r18, .r19, .r20 {
      @include oklahoma;
    }
  }

  .c23 {
    .r18, .r19, .r20 {
      @include oklahoma;
    }
  }

  .c24 {
    .r18, .r19, .r20 {
      @include oklahoma;
    }
  }

  // Oregon

  .c1 {
    .r8, .r9, .r10, .r11 {
      @include oregon;
    }
  }

  .c2 {
    .r8, .r9, .r10, .r11 {
      @include oregon;
    }
  }

  .c3 {
    .r8, .r9, .r10, .r11 {
      @include oregon;
    }
  }

  .c4 {
    .r8, .r9, .r10, .r11 {
      @include oregon;
    }
  }

  .c5 {
    .r8, .r9, .r10, .r11 {
      @include oregon;
    }
  }

  // Pennsylvania

  .c33 {
    .r8 {
      @include pennsylvania;
    }
  }

  .c34 {
    .r8, .r9, .r10, .r11 {
      @include pennsylvania;
    }
  }

  .c35 {
    .r8, .r9, .r10, .r11 {
      @include pennsylvania;
    }
  }

  .c36 {
    .r8, .r9, .r10, .r11 {
      @include pennsylvania;
    }
  }

  .c37 {
    .r8, .r9, .r10, .r11 {
      @include pennsylvania;
    }
  }

  .c38 {
    .r8, .r9, .r10 {
      @include pennsylvania;
    }
  }

  // Rhode Island

  .c41 {
    .r8 {
      @include rhode-island;
    }
  }

  // South Carolina

  .c37 {
    .r19 {
      @include south-carolina;
    }
  }

  .c38 {
    .r19, .r20 {
      @include south-carolina;
    }
  }

  .c39 {
    .r19 {
      @include south-carolina;
    }
  }

  // South Dakota

  .c16 {
    .r7, .r8, .r9, .r10 {
      @include south-dakota;
    }
  }

  .c17 {
    .r7, .r8, .r9, .r10 {
      @include south-dakota;
    }
  }

  .c18 {
    .r7, .r8, .r9, .r10 {
      @include south-dakota;
    }
  }

  .c19 {
    .r7, .r8, .r9, .r10 {
      @include south-dakota;
    }
  }

  .c20 {
    .r7, .r8, .r9, .r10 {
      @include south-dakota;
    }
  }

  .c21 {
    .r7, .r8, .r9, .r10 {
      @include south-dakota;
    }
  }

  // Tennessee

  .c29 {
    .r17, .r18 {
      @include tennessee;
    }
  }

  .c30 {
    .r17, .r18 {
      @include tennessee;
    }
  }

  .c31 {
    .r17, .r18 {
      @include tennessee;
    }
  }

  .c32 {
    .r17, .r18 {
      @include tennessee;
    }
  }

  .c33 {
    .r17, .r18 {
      @include tennessee;
    }
  }

  .c34 {
    .r17 {
      @include tennessee;
    }
  }

  // Texas

  .c14 {
    .r25 {
      @include texas;
    }
  }

  .c15 {
    .r25, .r26 {
      @include texas;
    }
  }

  .c16 {
    .r25, .r26 {
      @include texas;
    }
  }

  .c17 {
    .r19, .r20, .r21, .r22, .r23, .r24, .r25, .r26 {
      @include texas;
    }
  }

  .c18 {
    .r19, .r20, .r21, .r22, .r23, .r24, .r25, .r26, .r27 {
      @include texas;
    }
  }

  .c19 {
    .r19, .r20, .r21, .r22, .r23, .r24, .r25, .r26, .r27, .r28, .r29 {
      @include texas;
    }
  }

  .c20 {
    .r21, .r22, .r23, .r24, .r25, .r26, .r27, .r28, .r29 {
      @include texas;
    }
  }

  .c21 {
    .r21, .r22, .r23, .r24, .r25, .r26, .r27, .r28, .r29, .r30 {
      @include texas;
    }
  }

  .c22 {
    .r21, .r22, .r23, .r24, .r25, .r26, .r27, .r28, .r29, .r30, .r31 {
      @include texas;
    }
  }

  .c23 {
    .r21, .r22, .r23, .r24, .r25, .r26, .r27, .r28, .r29 {
      @include texas;
    }
  }

  .c24 {
    .r21, .r22, .r23, .r24, .r25, .r26, .r27 {
      @include texas;
    }
  }

  .c25 {
    .r21, .r22, .r23, .r24, .r25, .r26 {
      @include texas;
    }
  }

  .c26 {
    .r24 {
      @include texas;
    }
  }


  // Utah

  .c8 {
    .r12, .r13, .r14, .r15, .r16, .r17 {
      @include utah;
    }
  }

  .c9 {
    .r12, .r13, .r14, .r15, .r16, .r17 {
      @include utah;
    }
  }

  .c10 {
    .r13, .r14, .r15, .r16, .r17 {
      @include utah
    }
  }

  .c11 {
    .r13, .r14, .r15, .r16, .r17 {
      @include utah
    }
  }

  // Vermont

  .c40 {
    .r2, .r3, .r4, .r5 {
      @include vermont;
    }
  }

  // Virginia

  .c34 {
    .r15, .r16 {
      @include virginia;
    }
  }

  .c35 {
    .r15, .r16 {
      @include virginia;
    }
  }

  .c36 {
    .r14, .r15, .r16 {
      @include virginia;
    }
  }

  .c37 {
    .r13, .r14, .r15, .r16 {
      @include virginia;
    }
  }

  .c38 {
    .r13, .r14, .r15, .r16 {
      @include virginia;
    }
  }

  .c39 {
    .r13, .r14, .r15, .r16 {
      @include virginia;
    }
  }

  // Washington

  .c1 {
    .r5, .r6, .r7 {
      @include washington;
    }
  }

  .c2 {
    .r4, .r5, .r6, .r7 {
      @include washington;
    }
  }

  .c3 {
    .r4, .r5, .r6, .r7 {
      @include washington;
    }
  }

  .c4 {
    .r4, .r5, .r6, .r7 {
      @include washington;
    }
  }

  .c5 {
    .r4, .r5, .r6, .r7 {
      @include washington;
    }
  }

  // West Virginia

  .c33 {
    .r13 {
      @include west-virginia;
    }
  }

  .c34 {
    .r12, .r13, .r14 {
      @include west-virginia;
    }
  }

  .c35 {
    .r12, .r13, .r14 {
      @include west-virginia;
    }
  }

  .c36 {
    .r13 {
      @include west-virginia;
    }
  }

  // Wisconsin

  .c25 {
    .r5, .r6, .r7, .r8 {
      @include wisconsin;
    }
  }

  .c26 {
    .r5, .r6, .r7, .r8 {
      @include wisconsin;
    }
  }

  .c27 {
    .r5, .r6, .r7, .r8 {
      @include wisconsin;
    }
  }

  // Wyoming

  .c10 {
    .r9, .r10, .r11, .r12 {
      @include wyoming;
    }
  }

  .c11 {
    .r9, .r10, .r11, .r12 {
      @include wyoming;
    }
  }

  .c12 {
    .r9, .r10, .r11, .r12 {
      @include wyoming;
    }
  }

  .c13 {
    .r9, .r10, .r11, .r12 {
      @include wyoming;
    }
  }

  .c14 {
    .r9, .r10, .r11, .r12 {
      @include wyoming;
    }
  }

  .c15 {
    .r9, .r10, .r11, .r12 {
      @include wyoming;
    }
  }
}
