!!!
%head
  %link{:rel=>"stylesheet", :type=>"text/css", :href=>"states.css"}
%body
  .container-states
    - (1..44).each do |i|
      %div{:class => "column c" + i.to_s}
        - (1..31).each do |j|
          %div{:class => "r" + j.to_s}
